@{
    Layout = null;
}
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <div> 
        <ul>
            <li>@Html.ActionLink("Register", "Register", "Start", routeValues: null, htmlAttributes: new { id = "registerLink" })</li>
            <li>@Html.ActionLink("Log in", "Login", "Start", routeValues: null, htmlAttributes: new { id = "loginLink" })</li>
        </ul>
    </div>
</body>
</html>
