@model IEnumerable<Univerisity_Project.ViewModel.EnrolmentDateGroup>

<h2>Student Statistics</h2>

<table>
    <tr>
        <th>
            Enrollment Date
        </th>
        <th>

        </th>
        <th>
            Students
        </th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.EnrollmentDate)
            </td>
            <td>

            </td>
            <td>
                @item.StudentCount
            </td>
        </tr>
    }
</table>
<!--
<h3>@ViewBag.Message</h3>

<p>1918 წელს  გაიხსნა კავკასიაში პირველი ეროვნული უნივერსიტეტი, რომელმაც, ქართული საგანმანათლებლო ტრადიციების გათვალისწინებით, საფუძველი ჩაუყარა საქართველოში ევროპული ტიპის უმაღლეს სკოლას.

საქართველოში უნივერსიტეტის დაარსების იდეა ჯერ კიდევ მე-19 საუკუნის დასაწყისში, რუსეთის იმპერიისაგან გათავისუფლებისთვის ბრძოლის გაძლიერებასთან ერთად  დაიბადა. მე-19 საუკუნის სამოციან წლებში საქართველოში სამოღვაწეო ასპარეზზე გამოვიდა ახალი თაობა, დიდი ქართველი საზოგადო მოღვაწის ილია ჭავჭავაძის მეთაურობით, რომელთანაც დაკავშირებულია სულიერი აღორძინების ახალი ეტაპი ჩვენი ქვეყნის ისტორიაში. ამ წლებში განსაკუთრებით გააქტიურდა უნივერსიტეტის დაარსებისათვის ბრძოლა.

უმაღლესი სკოლის შექმნის რეალური შესაძლებლობები კიდევ უფრო გამოიკვეთა მას შემდეგ, რაც თბილისში დაარსდა სათავადაზნაურო საადგილმამულო ბანკი. იგი რუსეთის იმპერიაში არსებულ ბანკებს შორის ერთადერთი იყო, რომელიც თავის შემოსავალს ერის კულტურულ-საგანმანათლებლო და სამეურნეო ინტერესებს ახმარდა.

მე-20 საუკუნის დასაწყისიდან ქართული უნივერსიტეტის დაფუძნების ორგანიზატორი გახდა პეტერბურგის უნივერსიტეტის აღზრდილი და მისი პრივატ-დოცენტი ივანე ჯავახიშვილი. 1917 წლის თებერვლის რევოლუციის პირველი დღეებიდანვე პეტერბურგში მყოფმა ივანე ჯავახიშვილმა აქტიურად დაიწყო უმაღლესი სასწავლებლის გახსნისათვის  მზადება.

12 მაისს თბილისში, პეტრე მელიქიშვილის ბინაში, უნივერსიტეტის საზოგადოების დამფუძნებელთა პირველი შეკრება გაიმართა. კრებას ექვთიმე თაყაიშვილი ხელმძღვანელობდა. ამ დღეს დაარსდა “ქართული თავისუფალი უნივერსიტეტის” საზოგადოება, რომელმაც დიდი როლი შეასრულა უნივერსიტეტის დაარსების საქმეში.

1917 წლის შემოდგომაზე უნივერსიტეტის დამფუძნებელთა მუშაობა უმაღლესი სასწავლებლის გასახსნელად კიდევ უფრო ფართოდ გაიშალა. გადაწყდა, რომ თავდაპირველად დაარსებულიყო მხოლოდ ერთი  –  სიბრძნისმეტყველების ფაკულტეტი, რომელიც გააერთიანებდა ჰუმანიტარულ დარგებს, აგრეთვე, ბუნე-ბისმეტყველებასა და მათემატიკას. დეკემბრის ბოლოს პრესაში უკვე გაჩნდა განცხადება ქართულ უნივერსიტეტში სტუდენტების მიღების შესახებ.

კავკასიაში პირველი ეროვნული უნივერსიტეტი  1918 წლის 26 იანვარს (ახალი სტილით, 8 თებერვალს), დავით აღმაშენებლის ხსენების დღეს გაიხსნა. უნივერსიტეტის პირველ რექტორად, ივანე ჯავახიშვილის წინადადებით, პროფესორთა საბჭომ პეტრე მელიქიშვილი აირჩია, თავად ივანე ჯავახიშვილი სიბრძნისმეტყველების ფაკულტეტს ჩაუდგა სათავეში.

ახლად დაარსებულ უნივერსიტეტში ლექციებს კითხულობდნენ: ივანე ჯავახიშვილი,  იუსტინე აბულაძე, გიორგი ახვლედიანი, ფილიპე გოგიჩაიშვილი, ექვთიმე თაყაიშვილი, კორნელი კეკელიძე, შალვა ნუცუბიძე, ელისაბედ ბაგრატიონ-ორბელიანისა, დიმიტრი უზნაძე, ვანდა ღამბაშიძე, ილია ყიფშიძე, იოსებ ყიფშიძე, აკაკი შანიძე, ანდრია ბენაშვილი, ანდრია რაზმაძე, ივანე ბერიტაშვილი, გრიგოლ წერეთელი.

1989 წელს თბილისის სახელმწიფო უნივერსიტეტს მისი დამაარსებლის  – ივანე ჯავახიშვილის სახელი მიენიჭა.

ივანე ჯავახიშვილის სახელობის თბილისის სახელმწიფო უნივერსიტეტი დღეს საქართველოს ერთ–ერთი უპირველესი სამეცნიერო–კვლევითი დაწესებულებაა, ყოველწლიურად აქ 200–მდე ადგილობრივი და საერთაშორისო მასშტაბის სამეცნიერო საგრანტო პროექტი ხორციელდება. თბილისის სახელმწიფო უნივერსიტეტი თავისი მასშტაბით ერთ–ერთი უდიდესია საქართველოში. დღეისთვის თსუ–ს 7 ფაკულტეტზე  22 ათასამდე სტუდენტი სწავლობს.

თბილისის სახელმწიფო უნივერსიტეტში  საბაკალავრო, სამაგისტრო და სადოქტორო საგანმანათლებლო პროგრამებთან ერთად  უმაღლესი პროფესიული საგანმანათლებლო, ასევე მოკლე და გრძელვადიანი სასერტიფიკატო პროგრამები ხორციელდება. უცხოეთის ქვეყნების  უნივერსიტეტებთან  მჭიდრო თანამშრომლობის საფუძველზე ყველა სტუდენტს შესაძლებლობა აქვს მონაწილეობა მიიღოს გაცვლით და ერთობლივ საერთაშორისო სასწავლო პროგრამებში და მოიპოვონ ორმაგი აკადემიური ხარისხი.
</p>
    -->