@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Tbilisi State University</h1>
</div>
<div class="row">
    <div class="col-md-4">
        <h2>Welcome to Tbilisi State University</h2>
        <p>
              Tbilisi State University ....
        </p>
    </div>
    <div class="col-md-4">
        <h2>Contact</h2>
        <p> რექტორატი - 0179, თბილისი, ი.ჭავჭავაძის გამზ. 1, თსუ I კორპუსი<br>
            რექტორის მისაღები: ფაქსი: +995 32 2 22 51 07, ელ-ფოსტა rector@tsu.ge<br>
            ცხელი ხაზი: +995 32 2 25 04 84</p>
        <p> სასწავლო პროცესის მართვის დეპარტამენტი - 2 25 04 84; 2 25 39 71<br>
            სტუდენტთა მომსახურების განყოფილება - 2 22 11 16; 2 22 11 17<br>
            აბიტურიენტთა მომზადების განყოფილება - 599 58 42 24; 599 97 70 90</p>
        
    </div>
    <div class="col-md-4">
        <h2> TSU </h2>
        <p> visit tsu.edu.ge   </p>
        <p><a class="btn btn-default" href="http://tsu.edu.ge"> Click &raquo;</a></p>
    </div>
</div>